*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
 justify-content: center;
  inline-size: 1200px;
  height: 800px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  
}

.content {
  width: 1140px;
  height: 534px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  position: relative;
 gap: 30px;
 margin: 133px 30px 133px 30px;
}

.result {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  /* gap: 16px; */
  width: 711px;
  height: 456px;
  

}

.result__video-container {
padding-top: 78px;
margin-bottom: 16px;
}

.result__video {
width: 711px;
height: 386px;
object-fit: fill;
}


.content__details {
max-width: 100%;
max-height: 100%;
width: 394px;
height: 534px;
}

.search-form {
  position: relative;
  width: 711px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  /* bottom: 133px; */
  
}

.search-form__fieldset {
  width: 225px;
  height: 54px;
   /*уточнить к какому классу*/
  
}

.search-form__fieldset-title {
font-size: 18px;
font-weight: 400;
}

.search-form__label:has(:focus-visible) {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 225px;
  height: 27px;
  border-width: 1px 0px 1px 0px;
  gap: 10px;
  width: fit-content;
}

.search-form__label-text {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-family: "FiraSansCondensed-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: relative;
}

.search-form__textfield {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 211px;
  height: 22px;
  position: relative;
  margin-right: 14px;
 border-style: solid;
  border-color: #ffffff;
  appearance: none;
}

/* .search-form__textfield:focus {
  border-style: outline;
}

.search-form__textfiel:focus-visible {
  border-style: solid;
} */


.search-form__textfield::placeholder {
  border-color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox {
  
}

.content__list-container {
  height: 534px;
  overflow: scroll;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

